body{
    margin: 0 auto;
    background-color: black;
}
#logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.heading {
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: grey;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: white;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

#background-img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
  padding-top: 120px;
}

.white-background {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.white-background h2{
  font-size: xx-large;
  color: red;
  text-align: center;
}

.white-background h3,
.white-background h4 {
  text-align: start;
  margin: 0;
  color: chocolate;
}


.white-background img {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.white-background p {
  font-size: 18px;
  line-height: 1;
}


.role-box {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 40px 0;
}

.role-box img {
  width: 320px;
  border-radius: 10px;
}

.role-text h4 {
  font-size: 22px;
  font-weight: bold;
}

.role-text p {
  font-size: 18px;
  line-height: 1.6;
}

.join-alliance section dl dt{
  color: rgb(124, 4, 124);
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}
.join-alliance section dl dd{
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}
.join-alliance p{
  font-size: large;
  font-weight: 200;
}
.align-things{
  display: flex;
  padding: 20px 30px;
  flex-direction: row;
}
.align-things p{
  display: flex;
  padding: 20px 30px;
  flex-direction: row-reverse;
  color: darkcyan;
  font-style: oblique;
  font-weight: bolder;
}



.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  font-size: 18px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}