body{
    margin: 0 auto;
    background-color: black;
}
#logo{
    width: 150px;
    height: 150px;
    object-fit: contain; 
}
.heading{
    background-color: black;
    padding: 10px 40px;
    height: 60px;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    bottom: 75%;

}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a {
  color: grey;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: white;
}
#signin{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
  
}
#download{
  font-weight: 500;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.3s;
}
#starting{
  width: 100%;
  height: fit-content;
  background-color: black;
  
}
h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:normal;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.feature-nav {
  display: flex;
  gap: 35px;
  justify-content: center;
  color: grey;
  font-size: 20px;
  padding: 25px 0;
}

.feature-nav a {
  color: grey;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feature-nav a:hover {
  color: white;
}


.featured-wrapper {
  width: 100%;
  color: white;
  text-align: center;
  padding: 25px 0;
}


.featured-superstars {
  display: flex;
  flex-wrap: wrap;            
  justify-content: center;    
  gap: 30px;                  
  margin: 40px auto;
  max-width: 1400px;        
}

.card {
  width: 270px;              
  text-align: center;
  text-decoration: none;
  color: white;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
  border: 1px solid grey;
}

.card p {
  font-size: 20px;
  margin-top: 8px;
  font-weight: bold;
  color: white;
  text-align: center;        
}


.card img:hover {
  transform: scale(1.05);
}
.home{
    color: black;
    background-color: skyblue;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bolder;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 10px;
}
.home:hover{
    background-color: greenyellow;
    transform: scale(1.05);
}
footer {
  background: linear-gradient(to bottom, #3a3a3a, #000000); 
  text-align: center;
  padding: 60px 0;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

footer button {
  background: none;
  color: black;
  border: 2px solid none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 25px;
  transition: 0.3s;
  border-radius: 8px;
  background-color: #57ff2f;
}

footer button:hover {
  background: white;
  color: black;
}


footer h2 {
  color: #57ff2f;  
  font-size: 42px;
  margin-bottom: 25px;
}


footer img {
  width: 190px;
  margin: 10px 15px;
}


.footer-links {
  margin-top: 30px;
  font-size: xx-large;
  font-weight: bolder;
}

.footer-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 6px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #57ff2f; 
}


footer .copyright {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.55);
  font-size: large;
  font-weight: bolder;
}