body{
    margin: 0 auto;
    background-color: black;
}
#logo{
    width: 150px;
    height: 150px;
    object-fit: contain; 
}
.heading{
    background-color: black;
    padding: 10px 40px;
    height: 60px;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    bottom: 75%;

}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a {
  color: grey;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: white;
}
#signin{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
  
}
#download{
  font-weight: 500;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.3s;
}



main {
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 12px;
}
.section {
    padding: 25px;
    max-width: 1000px;
    margin: auto;
}
.feature-box {
    background: #1a1a1a;
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 12px rgba(255, 255, 100, 0.1);
    border: 1px solid #333;
    transition: 0.3s ease;
}

.feature-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 200, 50, 0.3);
}
p {
    line-height: 1.7;
    font-size: 17px;
    color: #e0e0e0;
}
.feature-box img {
    width: 100%;
    border-radius: 12px;
    margin-top: 15px;
    border: 2px solid #444;
    box-shadow: 0px 0px 10px rgba(255, 255, 200, 0.15);
    transition: 0.3s ease;
}

.feature-box img:hover {
    transform: scale(1.03);
}