body{
    margin: 0 auto;
    background-color: black;
}
#logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.heading {
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    display: flex;
    align-items: center;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background: black;
  z-index: 2;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: grey;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: white;
}

main {
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 12px;
}
.section {
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
}
.feature-box {
    background: #1a1a1a;
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 12px rgba(255, 255, 100, 0.1);
    border: 1px solid #333;
    transition: 0.3s ease;
}

.feature-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 200, 50, 0.3);
}
p {
    line-height: 1.7;
    font-size: 17px;
    color: #e0e0e0;
}
.feature-box img {
    width: 100%;
    border-radius: 12px;
    margin-top: 15px;
    border: 2px solid #444;
    box-shadow: 0px 0px 10px rgba(255, 255, 200, 0.15);
    transition: 0.3s ease;
}

.feature-box img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 200, 50, 0.3);
}


/* -------- light theme ke liye -------- */

body.light {
    background-color: #e6e6e6;
    color: #222;
}


body.light .heading {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0);
}

body.light .nav-links a {
    color: #222;
}

body.light .nav-links a:hover {
    color: #000;
}

body.light main {
    background: #ebebeb;  
    color: #222;
}


body.light .feature-box {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 12px;
    box-shadow: 0px 4px 12px black,
}

body.light .feature-box:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px black,

}

body.light .feature-box h2 {
    color: #a40000; 
    font-weight: 700;
}


body.light p {
    color: #333;
}


body.light .feature-box img {
    border: 2px solid #d3d3d3;
    box-shadow: 0px 0px 12px rgba(80, 80, 80);
}

body.light .feature-box img:hover {
    box-shadow: 0px 0px 18px rgba(60, 60, 60);
}


/* ------ ipad Air ke liye -------- */
@media (max-width: 1240px) {

    /* NAVBAR */
    .heading {
        padding: 10px 20px;
    }

    #logo {
        height: 50px;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 18px;
        justify-content: center;
        text-align: center;
    }

    .nav-links a {
        font-size: 16px;
    }


    .section {
        padding: 18px;
        max-width: 95%;
    }

    .feature-box {
        padding: 18px;
        margin-bottom: 35px;
    }

    .feature-box img {
        height: auto;
    }

    h1 {
        font-size: 26px;
    }

    .feature-box h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}




